<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a href="#" class="navbar-header">
				<img src="content/img/anzlogo.png" alt="Allianz Global Assistance" />
			</a>
			<div class="head-name navbar-left desktop">
				<p class="navbar-text">德国品质，服务中国</p>
			</div>

			<div class="navbar-right">
				<div class="navbar-text navbar-right" style="margin-right:0; margin-left:0"><a href="#" class="navbar-link">注册</a> | <a href="#" class="navbar-link">登录</a>
				</div>
				<form class="navbar-form navbar-right" role="search">
					<button type="submit" class="btn-motor btn-orange">在线客服</button>
				</form>
				<div class="navbar-text navbar-right callservice desktop">
					<img src="content/img/icon-phone.png" alt="" />
					<p>24h<sup>x7</sup>投保咨询</p>
					<p class="number">400-800-2020</p>
				</div>
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /navbar-inner -->
</div>