<div>&nbsp;</div>
<div class="panel panel-primary" style="height: 50px">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ 'normal-quote-policy-info.lb-download-terms' | translate }}
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary" style="height: 100%">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {{ 'normal-quote-policy-info.lb-share-and-presents' | translate }}
                <br/>
                <br/>
                <br/>
                <img src="http://placehold.it/100x100" alt=""/>
            </div>
        </div>
    </div>
</div>