
	<div class="list-group">
		<a href="#" class="list-group-item">
			<p>
				<img src="content/img/icon-rightbar-1.png" alt="" />
			</p>
			<h4 class="list-group-item-heading text-center">关于安联</h4>
		</a>
		<a href="#" class="list-group-item">
			<p>
				<img src="content/img/icon-rightbar-2.png" alt="" />
			</p>
			<h4 class="list-group-item-heading text-center">安联服务</h4>
		</a>
		<a href="#" class="list-group-item">
			<p>
				<img src="content/img/icon-rightbar-3.png" alt="" />
			</p>
			<h4 class="list-group-item-heading text-center">用户评论</h4>
		</a>
	</div>

